<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= @interested_user.name %>,
    <br/>
    <p>
      Welcome to Vizibid. We'll be in touch. <br/>
    </p>
    <br/>
    <p>
      -The Vizibid Team
    </p>
  </body>
</html>