<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<div id="fb-root"></div>

    <%= @interested_user.name %>,
    <br/>
    <p>
      Thank you for signing up for Vizibid. We'll be in touch. In the meantime, feel free to email us with any comments or questions. <br/>
    </p>
    <p>
      -The Vizibid Team
    </p>
    <a href = "http://www.twitter.com/vizibid">Follow us on Twitter</a>
    <br/>
    <a href = "http://www.facebook.com/vizibid">Friend us on Facebook</a>
    <br/>

  </body>
</html>