<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2><%= @interested_user.name %>, <%= @interested_user.email %></h2>
    <p>
      Has successfully signed up for Gemini <br/>
    </p>
  </body>
</html>