<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<div id="fb-root"></div>

    <p>
      Thank you for your interest in <a href="www.vizibid.com">Vizibid</a>. We will be sure to notify you when the service launches.<br/>
    </p>
    <p>
      Sincerely,
      The Vizibid Team
    </p>

  </body>
</html>