<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user.email %></h1>
    <p>
      Has successfully signed up for Gemini <br/>
    </p>
  </body>
</html>