<% provide(:title, 'About Us')%>
<h1>About</h1>

<h3>Purpose</h3>
<br/>
Vizibid is a Seattle based startup dedicated to finding the best ways to help lawyers find, share, rate, and comment on model forms for legal documents. Our goal is to make relevant, high quality, and reasonably priced model forms widely available to practicing lawyers.
<br/><br/>
<h3>Current Projects</h3>
<br/>
We are currently seeking feedback from lawyers to discover how to improve their experience finding model forms for legal documents. We will use what we learn to build the initial Vizibid service. Because we are going to build what you want, your early feedback on our ideas is extremely important to us.
<br/><br/>

<%= link_to "Complete our Survey", survey_path, :id => "surveylink" %>