<% provide(:title, 'Demos')%>
<br/>
<div class = "offset4">
	<h2 >Vizibid prototype demos</h2>
</div>
<div class = "row offset2">
	<div class ="span7"><p>The user wants to find an LLC operating agreement for Washington State. He searches the site and gets results. He then makes his search more specific and looks at the details page for the document. He likes what he sees so he downloads the document</p></div>
	<%= video_tag("https://s3.amazonaws.com/gemini-production-files/media1.mp4", :controls => true, :size => "565x420", :autobuffer => true, :muted => "true") %>
</div>
<br/>
<div class = "row offset2">
	<div class ="span7"><p>Here the user found the document useful. He signs-in to Vizibid and then up-votes an existing comment, adds a comment, and gives the form a rating.</p></div>
	<%= video_tag("https://s3.amazonaws.com/gemini-production-files/media2.mp4", :controls => true, :size => "565x420", :autobuffer => true, :muted => "true") %>
</div>
<br/>
<div class = "row offset2">
	<div class ="span7"><p>Here the user searches for a document. He doesn’t find what he’s looking for so he puts in a request for the document.
	</p></div>
	<%= video_tag("https://s3.amazonaws.com/gemini-production-files/media3.mp4", :controls => true, :size => "565x420", :autobuffer => true, :muted => "true") %>
</div>
<br/>
<div class = "row offset2">
	<div class ="span7"><p>Eventually the user receives email indicating that his request got a response. He checks the response and marks his request as completed since he got what he needed.
	</p></div>
	<%= video_tag("https://s3.amazonaws.com/gemini-production-files/media4.mp4", :controls => true, :size => "565x420", :autobuffer => true, :muted => "true") %>
</div>