<% provide(:title, 'FAQ')%>

<h1>Frequently Asked Questions</h1>

<h4>What is Vizibid?</h4>
Vizibid is a website to help lawyers find, share, rate, and comment on model forms for legal documents.<br/>

<br/><h4>When will the Vizibid service be available?</h4>
We will make the Vizibid service available as soon as we can. We are currently in the process of gathering enough information from lawyers to learn what lawyers want us to build. Once we have enough information, we can get to building. You can help us out by <%= link_to "taking our survey", survey_path, :class =>"faqlink" %>.
<br/>

<br/><h4>What do you mean by “model forms for legal documents”?</h4>
We envision lawyers sharing all kinds of forms --- basically, any document with which a lawyer might want help wording. Just for example, these will include contracts, trusts, demand letters, referral agreements, engagement agreements, issue-specific subpoenas, and practice checklists. Let your imagination go wild.
<br/>

<br/><h4>How will the Vizibid service work?</h4>
We envision lawyers sharing all kinds of forms --- basically, any document with which a lawyer might want help wording. Just for example, these will include contracts, trusts, demand letters, referral agreements, engagement agreements, issue-specific subpoenas, and practice checklists. Let your imagination go wild.
<br/>

<br/><h4>Can people who are not lawyers use Vizibid?</h4>
No. We want Vizibid’s users to be confident that only other lawyers are rating, commenting on, and providing forms to the Vizibid database. We also don’t want to get into any trouble for assisting non-lawyers with the unauthorized practice of law.
<br/>

<br/><h4>How much will Vizibid cost?</h4>
We are still finding the appropriate pricing structure for the Vizibid service. <%= link_to "Complete our survey", survey_path, :class=>"faqlink"%> and tell us how much you think would be appropriate to pay. 
<br/>

<br/><h4>How much will Vizibid cost?</h4>
We are still finding the appropriate pricing structure for the Vizibid service. Complete our survey and tell us how much you think would be appropriate to pay. 
<br/>

<br/><h4>What can I do right now to get access as soon as the Vizibid service becomes available?</h4>
If you provide us with your name and e-mail address on the <%= link_to "Vizibid home page", root_path, :class=>"faqlink"%>, we will make sure to keep you updated about our progress and to send you a notice once the Vizibid service becomes available.
<br/>

<br/>
<%= link_to "Complete our Survey", survey_path, :id => "surveylink" %>


