<% provide(:title, 'Home')%>


<div class = "container">
  <div class="row">
    <a href="mailto:info@vizibid.com"><img src="/assets/logo200x58.jpg" class="span3 offset4" style="margin-top:50px"/></a>
  </div>
</div>