<% provide(:title, 'Home')%>


<div class = "container">
  <div class="row">
    <a href="mailto:info@vizibid.com"><img src="/assets/vizibid-RGB.jpg" class="span6 offset3" style="margin-top:50px"/></a>
  </div>
</div>