<% provide(:title, 'Home')%>
<div class="center hero-unit">
<h1>Welcome to the Gemini Project!</h1>
<h2>
<br/>Gemini is a new service for lawyers in Washington State. Sign-up now to receive updates.<br/><br/>
</h2>
<form>
Email Address: <input type="text" name="firstname" style="width:260px; "/><br />
WA State Bar Number: <input type="password" name="password" /><br/>
<input type="submit" value="Submit" />
</form>
</div>