<% provide(:title, 'User Survey')%>

<div class="row" >
<div class="span3">
<%= link_to image_tag("logo.gif"), root_path %>
</div></div>

<br/><br/>

<iframe src="https://docs.google.com/a/vizibid.com/spreadsheet/embeddedform?formkey=dFpVUnRzdnlIQVVFRi1nd0cwVklBUVE6MQ" width="760" height="3200" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>