<% provide(:title, 'User Survey')%>

<div class="row" >
<div class="span2">
<%= link_to image_tag("logo2.bmp"), root_path %>
</div></div>

<br/><br/>

<% if rand(0..1) == 0 %>

<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dGhLSFpOblRsZURrN1o4VDJqTGt2Mmc6MQ" width="760" height="2350" frameborder="0" marginheight="0" marginwidth="0" scrolling="no">Loading...</iframe>

<%else%>

<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dFVLa0xrM2k1SFV6aW5vWkc1MV96b1E6MA" width="760" height="2350" scrolling="no" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

<%end%>