<% provide(:title, 'Forms')%>

<H2> Find Forms! </H2>

<div class = "row">
	<div class="span6">
		<%= form_tag forms_path, :method => 'get' do %>
			<%= text_field_tag :search, params[:search] %>
  			<%= submit_tag "Search", :name => nil, :class=> "btn btn-large btn-primary" %>
  		<% end %>
	</div>
</div>

<H4>Click on the form below for more details and a download link. </H4>
<table>
<% @forms.each do |f| %>
  <tr>
    <td><%= link_to File.basename(f.form.url), f %></td>
  </tr>
  <br/>
<% end %>
</table>