
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav pull-right" style="margin-right: 165px;">
        <li class="">
          <a href="mailto:info@vizibid.com">Contact Us</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="">
          <a href="<%=investor_path%>">Investor Portal</a>
        </li>
      </ul>
    </div>
  </div>
</div>
