<header class="navbar" style="border-bottom:1px solid black;">

  <div class="container">
   <%= link_to image_tag("logo2.bmp"), root_path%>

      <div class="offset2" style="font-family: NewAthenaUnicodeRegular; color: gray; font-style: italic; font-size: 140%">
      </div>
      <nav>
	    	<ul class = "nlist">
              <li >
                <%= link_to "Home", root_path %>
              </li>
	  	</nav>
    </div>
</header>